<h1>{{title}}</h1>

{{!-- Payment Form --}}
<form id="paymentForm">
  <div class="row">
    <div class="col">
      <h3 class="title">Billing Address</h3>
      <div class="inputBox">
        <label for="name">Full Name:</label>
        <input type="text" id="name" placeholder="Enter your full name" required value="{{user.name}}">
      </div>
      <div class="inputBox">
        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="Enter email address" required value="{{user.email}}">
      </div>
      <div class="inputBox">
        <label for="address">Address:</label>
        <input type="text" id="address" placeholder="Enter address" required value="{{user.address}}">
      </div>
      <div class="inputBox">
        <label for="city">City:</label>
        <input type="text" id="city" placeholder="Enter city" required value="{{user.city}}">
      </div>
      <div class="flex">
        <div class="inputBox">
          <label for="state">State:</label>
          <input type="text" id="state" placeholder="Enter state" required value="{{user.state}}">
        </div>
        <div class="inputBox">
          <label for="zip">Zip Code:</label>
          <input type="number" id="zip" placeholder="123 456" required value="{{user.zip}}">
        </div>
      </div>
    </div>

  {{!-- Payment Form continued - Card Information + Discounts --}}
    <div class="col">
      <h3 class="title">Payment</h3>
      <div class="inputBox">
        <label for="cardName">Name On Card:</label>
        <input type="text" id="cardName" placeholder="Enter card name" required value="{{payment.cardName}}">
      </div>
      <div class="inputBox">
        <label for="cardNum">Credit Card Number:</label>
        <input type="text" id="cardNum" placeholder="1111-2222-3333-4444" maxlength="19" required value="{{payment.cardNumber}}">
      </div>
      <div class="inputBox">
        <label for="expDate">Expiration Date:</label>
        <input type="text" id="expDate" placeholder="MM/YYYY" maxlength="7" required value="{{payment.expirationDate}}">
      </div>
      <div class="flex">
        <div class="inputBox">
          <label for="cvv">CVV:</label>
          <input type="number" id="cvv" placeholder="123" required value="{{payment.cvv}}">
        </div>
      </div>
      <div class="inputBox">
        <label for="discountCode">Discount Code:</label>
        <input type="text" id="discountCode" placeholder="Enter code">
      </div>
      <h3>Total: <span id="totalAmount">${{totalAmount}}</span></h3>
    </div>
  </div>
  <input type="submit" value="Proceed to Checkout" class="submit_btn">
</form>

<script src="/js/checkoutClient.js"></script>