
<main>
    <h1>Vendor Dashboard</h1>
    <p>Manage Products - add a link!!</p>
    <h2>Sales Analytics</h2>
        <p>Total Number of Sales: {{analytics.numOfSales}}</p>
        <p>Total Number of Products Sold: {{analytics.productsSold}}</p>
        <p>Total Revenue: {{analytics.total}}</p>
        <p>Least Popular Product: {{analytics.leastPopular}}</p>
        <p>Most Popular Product: {{analytics.mostPopular}}</p>

    <h3>Current Sales</h3>
    {{#each sales}}
    <h1>Sale: {{_id}}</h1>
        <ul>
            <li>Total: {{totalAmount}}</li>
            <li>Payment Method: {{paymentMethod}}</li>
            <li>Payment Status: {{paymentMethod}}</li>
            <li>Transaction ID: {{transactionId}}</li>
            <li>Purchase Date: {{salesDate}}</li>
            <li>Products Purchased: 
                <ul>
                    {{#each items}}
                        <li>{{name}} - ${{price}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    {{/each}}
    
</main>

 
            
            
            
