<h1>hackme.corp</h1>
<article>
    <header>
        <h2>{{productDescription}}</h2>
    </header>
</article>
<form action="/products/searchproducts" method="post">
    <label for="{{searchInputId}}">Enter Product Name:</label>
    <input type="text" id="{{searchInputId}}" name="{{searchInputId}}">
    <br><br>
    <input type="submit" value="Search Product">
</form>
<article>
    <header>
        <h2>{{title}}</h2>
    </header>
</article>
<ul>
    {{#each products}}
    <li>

      <!-- List all available products in database -->
      <a href="/products/{{this._id}}" id = "productLink">{{this.name}}</a> - {{this.category}} - ${{this.price}}
      <img class="searchResultImage" alt="{{this.name}} Poster" src="{{this.photos}}">
    </li>
    {{/each}}
</ul>

{{!-- Button to create product, should only appear when logged in aunthenticated --}}
<br>
{{#if isAuthenticated}}
    <a href = "/products/createproduct" id = "productLink">List Product</a>
{{else}}
    <a href="/auth/login">Please sign in to list a product</a>
{{/if}}