<h1 class = "h1Color">hackme.corp</h1>
<article>
    <header>
        <h2>{{productDescription}}</h2>
    </header>
</article>
<form action="/products/searchproducts" method="post">
    <label for="{{searchInputId}}">Enter Product Name:</label>
    <input type="text" id="{{searchInputId}}" name="{{searchInputId}}">
    <br><br>
    <input type="submit" value="Search Product">
</form>
<article>
    <header>
        <br><h2>{{title}}</h2>
    </header>
</article>

{{!-- Button to create product, should only appear when logged in aunthenticated --}}
{{!-- Ensures that vendors only see the “List Product” --}}
{{#if userVendor}}
    <a href="/products/createproduct">List Product</a>
{{else if isAuthenticated}}
    <h3>To list a product, you must be a vendor!</h3>
{{else}}
    <a href="/auth/login">Vendors: Please sign in to list a product</a><br><br>
{{/if}}

<ul>
    {{#each products}}
    <li>

      <!-- List all available products in database -->
      <img class="searchResultImage img-thumbnail" alt="{{this.name}} Poster" src="{{this.photos}}"><br>
      <a href="/products/{{this._id}}" id = "productLink">{{this.name}}</a>
        <br>Category: {{this.category}}
        <br>Price: ${{this.price}}
        <br>Stock Quantity: {{this.stock}} 
        <br>Average Rating: {{this.overallRating}} ⭐ 
        {{#if ../isAuthenticated}}
            <form action = "/cart/cart/add" method = "POST">
                <input type = "hidden" name = "userId" value = "{{../currentUserId}}">
                <input type = "hidden" name = "productId" value = "{{this._id}}">
                <input type = "number" name = "quantity" min = "1" value = "1">
                <button type = "submit">Add to Cart</button><br><br>
            </form>
        {{else}}
            <br><a href="/auth/login">Please sign in to add a product to cart</a><br><br>
        {{/if}}
    </li>
    {{/each}}
</ul>