
<main>   
    <h1>Sale: {{sale._id}}</h1>
        <ul>
            <li>Total: {{sale.totalAmount}}</li>
            <li>Payment Method: {{sale.paymentMethod}}</li>
            <li>Payment Status: {{sale.paymentMethod}}</li>
            <li>Transaction ID: {{sale.transactionId}}</li>
            <li>Purchase Date: {{sale.salesDate}}</li>
            <li>Products Purchased: {{sale.items}}</li>
        </ul>
        
</main>
    